@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary-50: var(--color-fuchsia-50);
	--color-primary-100: var(--color-fuchsia-100);
	--color-primary-200: var(--color-fuchsia-200);
	--color-primary-300: var(--color-fuchsia-300);
	--color-primary-400: var(--color-fuchsia-400);
	--color-primary-500: var(--color-fuchsia-500);
	--color-primary-600: var(--color-fuchsia-600);
	--color-primary-700: var(--color-fuchsia-700);
	--color-primary-800: var(--color-fuchsia-800);
	--color-primary-900: var(--color-fuchsia-900);
	--color-primary-950: var(--color-fuchsia-950);
	--font-headings:
		"Space Grotesk Variable", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--font-sans:
		"Roboto Variable", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";

	/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1280,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	--text-fluid--2: clamp(0.6944rem, 0.6531rem + 0.1836vw, 0.8rem);
	--text-fluid--1: clamp(0.8333rem, 0.7681rem + 0.2899vw, 1rem);
	--text-fluid-0: clamp(1rem, 0.9022rem + 0.4348vw, 1.25rem);
	--text-fluid-1: clamp(1.2rem, 1.0582rem + 0.6304vw, 1.5625rem);
	--text-fluid-2: clamp(1.44rem, 1.2392rem + 0.8924vw, 1.9531rem);
	--text-fluid-3: clamp(1.728rem, 1.4488rem + 1.2407vw, 2.4414rem);
	--text-fluid-4: clamp(2.0736rem, 1.6908rem + 1.7011vw, 3.0518rem);
	--text-fluid-5: clamp(2.4883rem, 1.9693rem + 2.3067vw, 3.8147rem);

	/* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1280,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	--spacing-fluid-3xs: clamp(0.25rem, 0.2255rem + 0.1087vw, 0.3125rem);
	--spacing-fluid-2xs: clamp(0.5rem, 0.4511rem + 0.2174vw, 0.625rem);
	--spacing-fluid-xs: clamp(0.75rem, 0.6766rem + 0.3261vw, 0.9375rem);
	--spacing-fluid-s: clamp(1rem, 0.9022rem + 0.4348vw, 1.25rem);
	--spacing-fluid-m: clamp(1.5rem, 1.3533rem + 0.6522vw, 1.875rem);
	--spacing-fluid-l: clamp(2rem, 1.8043rem + 0.8696vw, 2.5rem);
	--spacing-fluid-xl: clamp(3rem, 2.7065rem + 1.3043vw, 3.75rem);
	--spacing-fluid-2xl: clamp(4rem, 3.6087rem + 1.7391vw, 5rem);
	--spacing-fluid-3xl: clamp(6rem, 5.413rem + 2.6087vw, 7.5rem);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
	--color-primary-50: var(--color-lime-50);
	--color-primary-100: var(--color-lime-100);
	--color-primary-200: var(--color-lime-200);
	--color-primary-300: var(--color-lime-300);
	--color-primary-400: var(--color-lime-400);
	--color-primary-500: var(--color-lime-500);
	--color-primary-600: var(--color-lime-600);
	--color-primary-700: var(--color-lime-700);
	--color-primary-800: var(--color-lime-800);
	--color-primary-900: var(--color-lime-900);
	--color-primary-950: var(--color-lime-950);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-headings;
}

.scroll-down #main-header {
	@apply transform -translate-y-[200px];
}
