---
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/Projects.astro";
import Timeline from "../components/Timeline.astro";
import Social from "../components/Social.astro";
import { Icon } from "astro-icon/components";

// SEO properties
const title = "About";
const description = "All about Bruno Anken";
---

<BaseLayout title={title} description={description}>
	<div class="mx-auto max-w-2xl lg:max-w-4xl">
		<header class="max-w-2xl">
			<h1 class="text-4xl md:text-6xl font-black tracking-tight mb-8">
				About
			</h1>
		</header>

		<section class="max-w-2xl">
			<div class="space-y-8 leading-8">
				<p>
					With over 7 years of experience working as a full stack
					software engineer, I worked in a variety of industries,
					including finance, healthcare, e-commerce and security.
				</p>
				<p>
					Early on I developed a personal connection with the area of
					user experience, which helped me shape and deliver better
					products focused on user needs, experiences and
					interactions. As a natural evolution of that I also became a
					product minded engineer, focusing on building and shipping
					products that solve users problems and create real value.
				</p>
				<p>
					Currently I consider myself a product engineer and I want to
					continue growing my skills to also become a design engineer.
					Is there anything more full stack than that?
				</p>
				<p>
					During those 7+ years I worked with a many different
					programming languages, frameworks, and tools. The ones I
					have more experience with are JavaScript, TypeScript, React,
					NodeJS and Postgres, but my favorite programming language is
					Elixir and my favorite framework is Phoenix.
				</p>
				<!-- <p>
					I am currently building a product of my own with a
					co-founder, and I will use Elixir and Phoenix as the basis
					for our product!
				</p> -->
			</div>

			<div
				class="sm:flex sm:items-center sm:justify-between space-y-4 sm:space-y-0 my-10"
			>
				<a
					href="mailto:brunoanken@gmail.com"
					class="flex items-center space-x-1 hover:text-primary-600 dark:hover:text-primary-300 transition"
				>
					<Icon name="heroicons:envelope" class="size-5" />
					<span>brunoanken@gmail.com</span>
				</a>
				<div class="flex items-center space-x-4">
					<Social />
				</div>
			</div>
		</section>

		<section class="my-16 sm:my-30">
			<h2
				class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
			>
				Career
			</h2>

			<div>
				<Timeline />
			</div>
		</section>
	</div>

	<!-- <div class="my-16 sm:my-30">
		<div class="mx-auto lg:max-w-4xl">
			<h2
				class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
			>
				Projects
			</h2>
		</div>

		<div class="mx-auto lg:max-w-5xl">
			<Projects />
		</div>
	</div> -->
</BaseLayout>
