---
import { Icon } from "astro-icon/components";
import Social from "./Social.astro";

const currentYear = new Date().getFullYear();
---

<footer
	class="max-w-2xl mx-auto pb-20 mt-10 pt-20 border-t border-stone-300 dark:border-stone-600 px-4 md:px-30 text-center"
>
	<div>© {currentYear} Bruno Zaninello. All rights reserved.</div>
	<div class="flex justify-center space-x-6 mt-8">
		<Social />
	</div>
</footer>
